extends ../../templates/main/main.pug
include ../../components/button/button.pug
include ../../components/icon/icon.pug
include ../../components/slider/slider.pug

block title
  title Главная страница
block content
  p Здесь текст 1
  p Здесь текст 2
  p Здесь текст 3
  +button
  +icon("address").index__address
  +slider().main-slider
    .swiper-slide Slide 1
    .swiper-slide Slide 2
    .swiper-slide Slide 3
