mixin icon(name)
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class=`icon-svg icon-svg-${name}`)&attributes(attributes)
    use(xlink:href=`img/symbol/sprite.svg#${ name }`)